* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none; 
    color: black;  
}

a {
    text-decoration: none;
    color: black;
}

li {
    display: inline-block;
}

#body {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}

#main {
    min-height: 100vh;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inicio__perfil{
    color: beige;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}
.inicio__perfil-button{
    cursor: pointer;
}
/* navbar*/
#header {
    width: 100%;
    height: 40px;
    background-color: darkgray;
    position:sticky;
    z-index: 1;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#navBar img {
    width: 58px;
}
/*.inicio__post-iframe {
    height: 200px;
    width: 600px;
}
*/
/*footer*/
#footer {
    width: 100%;
    height: 60px;
    margin-top: auto;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.footer__img img {
    width: 80px;
    display: flex;

}